<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
  <a class="navbar-brand" href="/">Web1</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      	<li class="nav-item">
      		<a class="nav-link" href="/friends">Friends</a>
      	</li>
        
        <li class="nav-item">
      		<a class="nav-link" href="/ps1/web">Assignment 1</a>
      	</li>
        
        
        
        
      </ul>
      
    </div>
  </div>
</nav>
